doctype html
html(ng-app="TODO list")
  head
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    .container.mb-3#main
       block content  
    .container.mb-5.pb-5.text-center
            button.btn.btn-primary.btn-lg(type="button", data-toggle="modal", data-target="#myModal") Add TODO list
     
    .modal#myModal(tabindex="-1", role="dialog")
        .modal-dialog(role="document")
            .modal-content
              .modal-header
                .modal-title#infoBlock Add new project
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                input.form-control#NameProject(type="text", placeholder="Start typing here to create a project")
              .modal-footer
                button.btn.btn-secondary(type="button", data-dismiss="modal") Close
                button.btn.btn-primary#AddProject(type="button") Add
                
    .modal#ModalEgitProject(tabindex="-1", role="dialog")
        .modal-dialog(role="document")
            .modal-content
              .modal-header
                .modal-title#infoBlock Edit form
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                input.form-control#NameEditProject(type="text", placeholder="Start typing here to edit a project")
              .modal-footer
                button.btn.btn-secondary(type="button", data-dismiss="modal") Close
                button.btn.btn-primary#EditProjectModal(type="button") Edit            
        
    .footer.text-muted
     .container
       p.float-right
       a(href="#") Наверх
       p &copy; Yehor Nikulitsov for RubyGarage 2020
       
       
    script(src='https://kit.fontawesome.com/d420df9268.js', crossorigin='anonymous')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/bootstrap/js/bootstrap.bundle.js')
    script(src='/javascripts/Front.js')
